@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="card">
        <div class="card-header h4">@ViewData["Title"]</div>
        <div class="card-body p-3">
            <h5 class="text-primary">Impressum:</h5>
            <ul>
                <li>
                    <span style="font-weight: bold;">Inhaber und Verantwortlicher: </span>Christian Schorna<br/>
                </li>
                <li>
                    <span style="font-weight: bold;">Intention: </span>Schulisches Projekt<br/>
                </li>
                <li>
                    <span style="font-weight: bold;">Adresse: </span>Gaussgasse 3, 8160 Weiz, Österreich<br/>
                </li>
                <li>
                    <span style="font-weight: bold;">Email: </span>christian.schorna@hotmail.com<br/>
                </li>
                <li>
                    <span style="font-weight: bold;">Anmerkung: </span>Alle Angaben ohne Gewähr. <br/>
                </li>
                <li>
                    Diese Webseite ist nicht kommerzieller Natur.
                </li>
            </ul>
            <h5 class="text-primary">Datenschutz & Cookies:</h5>
            <h5>In Datenbank permanent gespeicherte Namen und ähnliche Daten: </h5>
            Die Namen der Personen, welche auf dieser Webseite gespeichert sind und verarbeitet werden, werden durch Zustimmung dieser Personen gespeichert und verarbeitet.
            Diese Namen und daran gebundene Daten, welche allerdings nicht persönlicher Natur sind (ausstehende Zahlung in Klassenkasse),
            sind nur für die jeweiligen Personen und für den Webseitenbetreiber, durch Zustimmung dieser Personen, einsehbar.<br/>
            <h5 class="pt-4">Von Nutzern erhobene Daten:</h5>
            Von Ihnen werden lediglich die Daten gespeichert, die Sie uns über das Erstellen ihres Accounts übermitteln (Accountname, Email, Passwort).
            Soweit Daten im Rahmen eines Nutzerlogins erfasst werden, werden diese nur zur Bereitstellung des jeweiligen Services genutzt.
            Diese Webseite verwendet Cookies. Cookies sind Textdateien, die auf Ihrem Endgerät gespeichert werden.
            Cookies können beim Aufruf der Webseite von der Webseite ausgelesen, übertragen und geändert werden.
            Diese Cookies werden nur genutzt um ihren Loginstatus auf der Webseite nach dem Schließen beizubehalten.
            Sie haben das Recht, zu beantragen, dass ihre gespeicherten Daten gelöscht oder verändert werden oder Einspruch einzulegen.
            Um dies zu tun wenden Sie sich bitte an den Inhaber.
        </div>
    </div>
</div>

<style>
  li {
    list-style: none;
  }
</style>
